name: 'Test Python'

on:
  workflow_dispatch:

  schedule:
    - cron: '20 4 * * 2,6'
  
  push:
    paths:
      - 'test-py.yml'
      - '**.py'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - name: 'git / checkout'
        uses: actions/checkout@v4

      - name: 'python / setup'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: 'python / install'
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: 'pytest / run'
        run: pytest
