name: 'Test C#'

on:
  workflow_dispatch:

  schedule:
    - cron: '25 4 4,20 * *'
  
  push:
    paths:
      - '**/test-cs.yml'
      - '**.cs'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: 'github / checkout'
        uses: actions/checkout@v4

      - name: 'github / dotnet / setup'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
        
      - name: 'dotnet / restore'
        run: |
          cd c-sharp
          dotnet restore

      - name: 'dotnet / test'
        run: |
          cd c-sharp/weighted-list
          dotnet build --no-restore
          dotnet test --no-build --verbosity normal
