name: 'Test C#'

on:
  workflow_dispatch:

  schedule:
    - cron: '25 4 * * 2,6'
  
  push:
    paths: '**.cs'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: 'Git - checkout'
        uses: actions/checkout@v4

      - name: '.NET - setup'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
        
      - name: '.NET - restore'
        run: |
          cd c-sharp
          dotnet restore

      - name: '.NET - test'
        run: |
          cd c-sharp/weighted-list
          dotnet build --no-restore
          dotnet test --no-build --verbosity normal
