name: 'Test Rust'

on:
  workflow_dispatch:

  schedule:
    - cron: '40 4 4,20 * *'
  
  push:
    paths:
      - '**/test-rs.yml'
      - '**.rs'

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './rust'

    steps:
      - name: 'github / checkout'
        uses: actions/checkout@v4

      - name: 'rust / setup'
        uses: actions-rust-lang/setup-rust-toolchain@v1
      
      - name: 'rust / cargo test'
        run: cargo test
